*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea
.metadata/
.externalToolBuilders/
public/assets/img/
public/assets/swf/
labtan.dat
labo/
logs/
phing/
