p5 { padding:5px;}
p10{ padding:10px;}
p15{ padding:15px;}
p20{ padding:20px;}

m5 { margin:5px;}
m10{ margin:10px;}
m15{ margin:15px;}
m20{ margin:20px;}

/*Bodyの設定*/
/*
body {
    width:95%;
    height:95%;
    overflow:hidden;
    margin:0px auto;  
    padding:0px;
    background-color: white;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, rgba(200, 0, 0, .5)), to(rgba(200, 0, 0, .5))), -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, rgba(200, 0, 0, .5)), to(rgba(200, 0, 0, .5)));
    background-image: -webkit-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)), -webkit-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
    background-image: -moz-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)), -moz-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
    background-image: -ms-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)), -ms-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
    background-image: -o-linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)), -o-linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
    background-image: linear-gradient(transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5)), linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, .5) 50%, rgba(200, 0, 0, .5));
    background-size: 100% 10%, 10% 100px;

    background-color: #ffecd0;
    background-image: -webkit-linear-gradient(0deg, transparent 50%, white 50%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
    background-size: 200% 100%, 100px 100px;

}
*/
/*コンテンツの設定*/
.container-fluid{
    padding:0px;
}

/*メイン部分*/
.main-contents {
    text-align:center;
    margin:0px;
}

/*トップページのアイコン*/
.iconsize {
    width:88px;
    height:88px;
    margin:0px auto;
    border:1px solid black;
    border-radius:10px;
    box-shadow:2px 2px 2px #808080;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #fee4c8), color-stop(0.98, #ff7400));
    background: -webkit-linear-gradient(top, #fee4c8 0%, #ff7400 98%);
    background: -moz-linear-gradient(top, #fee4c8 0%, #ff7400 98%);
    background: -o-linear-gradient(top, #fee4c8 0%, #ff7400 98%);
    background: -ms-linear-gradient(top, #fee4c8 0%, #ff7400 98%);
    background: linear-gradient(to bottom, #fee4c8 0%, #ff7400 98%);

    
}
.iconsize:hover {
    background:rgba(180,180,180,0.5);
}
.row {
    margin:5px 0px;
}

.lend {
    color:blue;
    font-size:150%;
}

/*ヘッダー部分*/
.header {
    background:black;
    color:white;
}
#contents_title {
    font-size:120%;
}
/*フッター*/
footer {
    background:black;
    color:white;
    font-size:80%;
    text-align:right;
    padding-right:10px;
}

/*トップページ*/
.category {
    background:url('../img/contents/fusen/big002.png');
    background-repeat: no-repeat;
    display:block;
    width:150px;
    height:150px;
    background-size:100%;
    margin:0px auto;
    position:relative;
}

.category_pin {
    position: absolute;
    left: 60px;
    top: -10px;
}

.category_name {
    position: absolute;
    left: 30px;
    top: 60px;
    font-size: 150%;
}


/*貸した，借りたリストの表示欄*/
.list {
    border:1px solid black;
    border-radius:10px;
    box-shadow:2px 2px 2px #808080;
    background:rgba(240, 240, 240, 0.8);
    width:300px;
    margin:5px auto;
    display:block
}

/*編集エリア*/
.edit_area {
    text-align:center;
    margin: 0px auto;
}

.edit_area th,edit_area td{
    padding:5px;
}


.edit_area span {
    position: relative;
    top: -17px;
    left: 5px;
}



#popup_white {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    left: 0px;
    top: 40px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
}

/*//くるくる*/
#loading_gif {
    position: fixed;
    top: 35%;
    left: 50%;
    z-index: 101;
    display: none;
}


/*登録ボタン*/
input[type="button"] {
    width:150px;
    height:44px;
    color:white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #2476ff), color-stop(1.00, #001ca8));
    background: -webkit-linear-gradient(#2476ff, #001ca8);
    background: -moz-linear-gradient(#2476ff, #001ca8);
    background: -o-linear-gradient(#2476ff, #001ca8);
    background: -ms-linear-gradient(#2476ff, #001ca8);
    background: linear-gradient(#2476ff, #001ca8);
}
input[type="button"]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #b4ddfe), color-stop(1.00, #0d4996));
    background: -webkit-linear-gradient(#b4ddfe, #0d4996);
    background: -moz-linear-gradient(#b4ddfe, #0d4996);
    background: -o-linear-gradient(#b4ddfe, #0d4996);
    background: -ms-linear-gradient(#b4ddfe, #0d4996);
    background: linear-gradient(#b4ddfe, #0d4996);

}


