.p5 { padding:5px;}
.p10{ padding:10px;}
.p15{ padding:15px;}
.p20{ padding:20px;}

.m5 { margin:5px;}
.m10{ margin:10px;}
.m15{ margin:15px;}
.m20{ margin:20px;}

.text-left   { text-align: left;}
.text-center { text-align: center;}
.text-right  { text-align: right;}



/*コンテンツの設定*/
.container-fluid{
    padding:0px;
}

/*メイン部分*/
.main-contents {
    text-align:center;
    width:100%;
    height:96%;
    overflow: hidden;
    background:white;
}

.row {
    margin:5px 0px;
}


/*ヘッダー部分*/
.header {
    color:white;
    text-shadow:1px -1px 0 rgba(0, 0, 0, 1);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #989898), color-stop(1.00, #272727));
    background: -webkit-linear-gradient(#989898, #272727);
    background: -moz-linear-gradient(#989898, #272727);
    background: -o-linear-gradient(#989898, #272727);
    background: -ms-linear-gradient(#989898, #272727);
    background: linear-gradient(#989898, #272727);

}
#contents_title {
    font-size:120%;
}



/*フッター*/
footer {
    /*!important style強制適用*/
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #000;
    color: #999;
    
    font-size:80%;
    text-align:right;
    padding-right:10px;
}




/*編集エリア*/
.edit_area {
    text-align:center;
    margin: 0px auto;
}

.edit_area th,edit_area td{
    padding:5px;
}


.edit_area span {
    position: relative;
    top: -17px;
    left: 5px;
}



#popup_white {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    left: 0px;
    top: 40px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
}

/*//くるくる*/
#loading_gif {
    position: fixed;
    top: 35%;
    left: 50%;
    z-index: 101;
    display: none;
}

input[type="button"] {
    width:150px;
    height:44px;
}

/*登録ボタン*/
.add_btn {
    color:white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #2476ff), color-stop(1.00, #001ca8));
    background: -webkit-linear-gradient(#2476ff, #001ca8);
    background: -moz-linear-gradient(#2476ff, #001ca8);
    background: -o-linear-gradient(#2476ff, #001ca8);
    background: -ms-linear-gradient(#2476ff, #001ca8);
    background: linear-gradient(#2476ff, #001ca8);
}
.add_btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #b4ddfe), color-stop(1.00, #0d4996));
    background: -webkit-linear-gradient(#b4ddfe, #0d4996);
    background: -moz-linear-gradient(#b4ddfe, #0d4996);
    background: -o-linear-gradient(#b4ddfe, #0d4996);
    background: -ms-linear-gradient(#b4ddfe, #0d4996);
    background: linear-gradient(#b4ddfe, #0d4996);

}

