/*ヘッターの固定化*/
header {
    /*
    position:fixed;
    */
    width:100%;
}
.edit-area {
    width:90%;
    border:1px dashed black;
    text-align:center;
    margin:0px auto;
    /*
    margin-top:50px;
    */
    margin-bottom:30px;
    padding:10px;
    overflow: scroll;
}



.select {
    width:100%;
}
input {
    width:96%;    
}


/*貸し借り選択エリア*/
.edit-type {
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    box-shadow:rgba(255, 255, 255, 0.3) 0px 1px 0px; 
}

.edit-type div{
    height:44px;
    line-height: 40px;
    margin:5px 0px; 
    border:1px solid gray;
    box-shadow:1px 0px 0px #808080;    
}



/*内容登録エリア*/
.edit-content{
    line-height: 30px;
    margin:10px 0px;     
    padding:5px 0px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    box-shadow:rgba(255, 255, 255, 0.3) 0px 1px 0px; 
}


.type-active {
    color:white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #001ca8), color-stop(1.00, #2476ff));
    background: -webkit-linear-gradient(#001ca8, #2476ff);
    background: -moz-linear-gradient(#001ca8, #2476ff);
    background: -o-linear-gradient(#001ca8, #2476ff);
    background: -ms-linear-gradient(#001ca8, #2476ff);
    background: linear-gradient(#001ca8, #2476ff);
}

.type-active:hover {
    color:white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #001ca8), color-stop(1.00, #2476ff));
    background: -webkit-linear-gradient(#001ca8, #2476ff);
    background: -moz-linear-gradient(#001ca8, #2476ff);
    background: -o-linear-gradient(#001ca8, #2476ff);
    background: -ms-linear-gradient(#001ca8, #2476ff);
    background: linear-gradient(#001ca8, #2476ff);
}

.modal {
    width:90%;
    left: 92%;
    margin: -200px 0 0 -280px;
}

.display-hidden {
    display:none;
}

a {
    text-decoration: none;
}


